.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
	width: 1000px;
	height: 800px;
	border-radius: 15px;
	overflow: hidden;
	padding: 32px 100px 25px 100px;
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	justify-content: space-evenly;
	margin-top: 150px; 
    background-image: linear-gradient(to left, #194368, #0e1241);
}

.button {
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 600;
	white-space: nowrap;
}

.rating {
	color: rgb(43, 212, 219);
}

.commentInput {
	height: 100px;
}

.activeCommentInput {
	font-size: 16px !important;
	transform: translate(0, -28px) scale(1);
}
