* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
#root {
	display: flex;
	align-items: center;
	background-color: #0f2439;
}

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	background-color: #0f253a;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.012em;
	width: 100%;
	height: 100%;
}

a,
button,
input,
textarea {
	outline: none;
	border: 0;
	background: none;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

.fa-2x {
	padding: 3px;
}
